<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" type = "text/css" href="/static/cssfile.css">
	<title>{{title}}</title>

</head>



<header>
	<h2>{{header}}</h2>
	<h4>And the person who lost their stuff. RIP :( <h4>
</header>
<body>

	<header>
		<div class = "menu-wrap">
			<nav class = "menu">
				<ul class = "clearfix">
					<li><a href = "/">Home</a></li>
					<li>
						<a href = "/markov">Books &#9661</a>
						<ul class = "sub-menu">
							<li><a href = "/markov/sherlock">Sherlock Holmes</a></li>
							<li><a href = "/markov/war">War of the Worlds</a></li> 
							<li><a href = "/markov/sawyer">Tom Sawyer</a></li>
						</ul>
					</li>
					<li><a href = "/encrypt">Caesar Salad</a></li>
					<li><a href = "/sengen">Sengen</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<br><br><br><br><br>
	
	{% block content %}
	{% endblock %}
</body>
<footer >
	Copyright &copy; Ayjin Inc. 2015
</footer>
</html>
