body {
background-color: #23C5CF;
font-family: Arial, Times_New_Roman, Impact;
}

a {
#text-decoration: none;
color: #000000;
}
h1,h2,h3 {
margin: 0;
}

.navlink {
font-weight: bold;
}
#container {
background-color: #3381A6;
width: 1500px;
margin-left: auto;
margin-right: auto;
}

#header {
background-color: #23C5CF;
color:#3381A6;
text-align: center;
padding: 3px;
}

#footer {
clear: both;
padding: 10px;
background-color: #000000;
color: #3381A6;
text-align: right;
}

.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#2D8C92;
}
 
.menu {
    width:1200px;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Impact';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#36ABB2;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}
 
.menu .arrow {
    font-size:28px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:35px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2D8C92;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:100%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2D8C92;
}
 
.sub-menu li {
    display:block;
    font-size:22px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}