<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

</head>
<header>
    <h2>{{header}}</h2>
</header>

<div id = "dropdown">
<html>
<form id = "selection">
<select onchange="window.location=this.value">
<option value = "/" selected>Choose One</option>
<option value = "/markov">Text Generator</option>
<option value = "/sengen">Sentence Generator</option>
<option value = "/encrypt">Encryption</option>
<option value = "/decrypt">Decryption</option>
</select>
</form>
</div>
<br>
<body>
{% block content %}
{% endblock %}
</body>
</html>