body {
background-color: #23C5CF;
font-family: Arial, Times_New_Roman, Impact;
}
a {
#text-decoration: none;
color: #000000;
}
h1,h2,h3 {
margin: 0;
}
.navlink {
font-weight: bold;
}
#container {
background-color: #3381A6;
width: 1500px;
margin-left: auto;
margin-right: auto;
}
#header {
background-color: #23C5CF;
color:#3381A6;
text-align: center;
padding: 3px;
}
#footer {
clear: both;
padding: 10px;
background-color: #000000;
color: #3381A6;
text-align: right;
}